<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Descriptive Statistics Results</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
        Numbers
      </dt>
      <dd class="numbers">
        <%= @numbers %>
      </dd>

      <dt>
        Sorted Numbers
      </dt>
      <dd class="sorted_numbers">
        <%= @sorted_numbers %>
      </dd>

      <dt>
        Count
      </dt>
      <dd class="count">
        <%= @count %>
      </dd>

      <dt>
        Minimum
      </dt>
      <dd class="minimum">
        <%= @minimum %>
      </dd>

      <dt>
        Maximum
      </dt>
      <dd class="maximum">
        <%= @maximum %>
      </dd>

      <dt>
        Range
      </dt>
      <dd class="range">
        <%= @range %>
      </dd>

      <dt>
        Median
      </dt>
      <dd class="median">
        <%= @median %>
      </dd>

      <dt>
        Sum
      </dt>
      <dd class="sum">
        <%= @sum %>
      </dd>

      <dt>
        Mean
      </dt>
      <dd class="mean">
        <%= @mean %>
      </dd>

      <dt>
        Variance
      </dt>
      <dd class="variance">
        <%= @variance %>
      </dd>

      <dt>
        Standard Deviation
      </dt>
      <dd class="standard_deviation">
        <%= @standard_deviation %>
      </dd>

      <dt>
        Mode
      </dt>
      <dd class="mode">
        <%= @mode %>
      </dd>
    </dl>
  </div>
</div>
